*
body {
    margin: 0;
  }
.header {
    background-image: url("5957873074946eb.jpg");
    background-size: 100%;
    padding: 20px;
    text-align: center;
    font:message-box;
    font-size: 25px;
    font-style: oblique;
    color: blue;
    text-shadow: 2px 2px 8px black;
}
/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #b3e6ff;
  }
/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: rgb(0, 26, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;  
}
  /* Change color on hover */
.topnav a:hover {
    background-color: rgb(47, 0, 255);
    color:#b3e6ff;
}

/*.active {background-color: rgb(47, 0, 255);}*/